extends layout

block content
    div(class="commentPost")
        p #{postContent}
        form(id='form' method='POST' action="/comment")
            p
                textarea(name="postText", cols="69", rows="5")
            p
                input(type="hidden" name="postID" value=postID)
                input(type='submit' value='Add Comment' class="btn")
