extends layout

block content
    div(class="postBorder")
        nav
            ul
                each item in config.createPost
                    a(href = item[1])
                        div(class='post_item')
                            li(id=item[0]) #{item[0]}
        form(class="postForm")
            p(class="pageHeader") Upload a Video Plug!
                p
                label(for="img" class="imgLabel") Select Video:  
                input(type="file" id="img" name="img" accept="video/*")
                p(class="pageHeader") Create a Caption!
                textarea(id="caption" name="caption" maxlength="500" cols="32", rows="3")
                p
                    input(type="submit" class="btn")
