extends layout

block content
    div(class="landingPage")
        br
        label(for="zipcode" class="pageHeader") Enter Zipcode&nbsp;
        br
        br
        input(type="text" id='zipcode' name='zipcode')
        a(class="go_btn" href="/feed") GO
        br
        nav(class="landing_btn")
            ul
                each item in config.landingPage
                    a(href = item[1])
                        br
                        div(class='landingBtn')
                            li(id=item[0]) #{item[0]}
