extends layout

block content
    div(class="logPage")
            form(id='form' method='POST' action="/" class='loginPage')
                label(for="username") Username:&nbsp;
                br
                input(type="text" name="username" required)
                br
                label(for="password") Password:&nbsp;
                br
                input(type="password" name="password" required)
                br
                input(type='submit' value='Login' class="btn")
                br
            a(href="/signUp" class="btn") Sign Up
