extends layout

block content
    div(class="landingPage")
        br
        br
        nav(class="landing_btn")
            ul
                each item in config.landingPage
                    a(href = item[1])
                        br
                        div(class='landingBtn')
                            li(id=item[0]) #{item[0]}