extends layout

block content
    div(id="mainPage")
        div(id="mainDesc")
            p yeet
        div(id="descBox")
            div(id="subDesc")
               p test
            img(src="blocc3.png" id="mainImg")
        