doctype html
html
    head
        link(href='/style.css' rel='stylesheet')
        title=title
        link(href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Coda+Caption:800&display=swap" rel="stylesheet")
    body
        div(id="titleBar")
            a(href="/feed")
                p(class="title") &nbsp;UnPlugged
        div(id="content")
            block content