extends layout

block content
    div(class="postBorder")
        nav(class='navBar')
            ul
                each item in config.menu
                    a(href = item[1])
                        div(class='post_item')
                            li(id=item[0]) #{item[0]}
        form(id='form' method='post' action="/tagsPage")
            p
                select(name="category" id="category")
                    option(value="Sports") Sports
                    option(value="Movies") Movies
                    option(value="TV") TV
                    option(value="Cars") Cars
                    option(value="Fashion") Fashion
                    option(value="Events") Events
                    option(value="Questions") Questions
                    option(value="Memes") Memes
                    option(value="LocalWeirdos") Local Weirdos
                button(type="submit" value="GO" class="filter_btn") Filter
        ul
            each post in posts
                include post.pug
    script
        include vote.js
