extends layout

block content
        div(class="content")
        form(id='signUp' method='POST' action="/" onsubmit="return checkCreation()" class='form')
            p(class="pageHeader") Create an Account!
            p Username:&nbsp;
                input(type='text' id='username' name="username")
            p Password:&nbsp;
                input(type='text' id='password' name="password")
            p E-mail:&nbsp;
                input(type='text' id='email' name="email")
            p DOB:&nbsp;
                input(type='date' id='birthday' name="birthday")
            p
                input(type='submit' value='Sign Up!' class="btn")