html{
    font-family: 'Staatliches', cursive;
    background: white;
}
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    color: inherit;
}
#titleBar{
    /* background-color: rgb(254, 255, 219); */
    color: #521d1d5e;
    /* flex: auto; */
    display: flex;
    /* flex-flow: row; */
    justify-content: center;
    font-size: 50px;
    font-family: 'Coda Caption', sans-serif;
    text-decoration: underline;
}
#logo{
    height: 100px;
    margin: 15px 5px;
}
#menu{
    width: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.menuItem{
    margin: 0px 10px;
    padding: 0px 5px;
    color: #ffffff;
    font-size: 20px;
}
#content{
    background-color: #f2f5f5; 
    height: auto;   
    padding: 30px;
    min-height: 500px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}
#featContent{
    width: auto;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
#featDesc{
    font-size: 30px;
}
#featList{
    font-size: 20px;
}
#featImg{
    margin-left: auto;
    margin-right: 15%;
    width: 30%;
    height: 30%;

}
#mainPage{
    width: auto;
    display: flex;
    flex-flow: column;
}
#descBox{
    width: auto;
    display: flex;
    flex-flow: row;
}
#mainDesc{
    font-size: 40px;
}
#subDesc{
    margin-right: 5px;
    font-size: 20px;
}
#mainImg{
    margin-top: -15%;
    margin-left: auto;
    width: 50%;
    height: 50%;
}
#order{
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
#orderTitle{
    margin: 0px auto;
    text-align: center;
}
#orderForm{
    height: auto;
    margin: 40px auto 0px 10%;
    font-size: 20px;
    display: flex;
    flex-flow: column;
}
#orderDesc{
    height: auto;
    margin: 0px 10% 0px auto;
    background-color: rgba(182, 232, 255, 0.521);
    padding: 10px;
    font-size: 20px;
}
h1{
    font-size: 10px;
}
h2{
    margin: 0 auto;
    font-size: 40px;
}

.btn {
    font-family: 'Staatliches', cursive;
    color: black;
    background-color: rgb(254, 255, 219); 
    text-align: center;
    width: 30%;
    border-radius: 4px;
    margin: 4px;
    padding: 15px;
    transition: ease-in-out 170ms;
    background-color: rgb(149, 192, 218); 
    font-size: 40px;
    border: 0px;
    box-shadow: 
    1px 1px #111,
    4px 4px #222,
    6px 6px #000,
    8px 8px #000,
    10px 10px #000;
}
a{
    text-decoration: none;
}
.btn:hover{
    background-color: #900905;
    color: #FA739B;
}
.landingPage {
    font-size: 30px;
    border: 5px solid;
    text-align: center;
    height: 500px;
}
.landing_btn{
    margin-left: 32.25%;
}
.landingBtn {
    font-family: 'Staatliches', cursive;
    color: black;
    background-color: rgb(254, 255, 219); 
    text-align: center;
    width: 350px;
    border-radius: 4px;
    margin: 4px;
    padding: 15px;
    transition: ease-in-out 170ms;
    background-color: rgb(149, 192, 218); 
    font-size: 40px;
    border: 0px;
    box-shadow: 
    1px 1px #111,
    4px 4px #222,
    6px 6px #000,
    8px 8px #000,
    10px 10px #000;
}
.landingBtn:hover{
    background-color: #900905;
    color: #FA739B;
}
.logPage {
    text-align: center;
    margin: 50px;
}
.loginPage {
    font-size: 24px;
    border: 5px solid;
    height: 450px;
}
.pageHeader {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
.form {
    text-align: center;
    border: 5px solid;
    /* margin: 80px; */
    font-size: 28px;
}
.displayBorder{
    border: 5px solid;
    text-align: center;
    font-size: 28px;
    height: 500px;
}
.postBorder{
    border: 5px solid;
    text-align: center;
    font-size: 28px;
    height: 80%;
}
.post_item {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid rgb(102, 63, 63);
    width: 100px;
    margin: 10px;
    text-align: center;
    background: rgb(149, 192, 218)
    
}
.post{
    border: 2px solid;
    margin-right: 38px;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.postBody{
    width: 50%;
}
.postVote{
    border-right: 3px solid;
    border-left: 3px solid;
    width: 10%;
}
.postButton{
    font-family: 'Staatliches', cursive;
    color: black;
    background-color: rgb(254, 255, 219); 
    text-align: center;
    width: 80%;
    border-radius: 4px;
    margin: 4px;
    padding: 0px;
    transition: ease-in-out 170ms;
    background-color: rgb(149, 192, 218); 
    font-size: 20px;
    border: 0px;
    box-shadow: 
    1px 1px #111,
    4px 4px #222,
    6px 6px #000,
    8px 8px #000,
    10px 10px #000;
    cursor: pointer;
}
.postComments{
    width: 40%;
}
.commentPost{
    /* border: 2px solid; */
    border-top: 2px solid;
    border-bottom: 2px solid;
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 3px 0px;
}
li {
    list-style: none;
    text-align: center;
}
.imgLabel{
    font-size: 25px;
    text-decoration: none;
}
.navBar{
    margin-right: 50px;
    border: 5px solid;
    width: 99.5%;
}
.postImage{
    width:100%;
}
.go_btn{
    font-family: 'Staatliches', cursive;
    color: black;
    background-color: rgb(254, 255, 219); 
    text-align: center;
    width: 350px;
    border-radius: 4px;
    margin-left: 40px;
    padding: 20px;
    transition: ease-in-out 170ms;
    background-color: rgb(149, 192, 218); 
    font-size: 25px;
    border: 0px;
    box-shadow: 
    1px 1px #111,
    4px 4px #222,
    6px 6px #000,
    8px 8px #000,
    10px 10px #000;
}
.go_btn:hover{
    background-color: #900905;
    color: #FA739B;
    
}